.profile {
  width: 300px;
  margin: 20px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px -3px rgba(0, 0, 0, 1);
}

.profile:hover {
  box-shadow: 4px 4px 6px -3px rgba(0, 0, 0, 1);
}

.description {
  padding: 10px;
}

.profile img {
  width: 100px;
  margin: auto;
}

.name {
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
}

.tag,
.location,
.label {
  color: grey;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.stats li {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.quantity {
  font-weight: 700;
}