.item {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


